@attribute [Authorize]
@page "/"


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4>Customer</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="search" @bind-value="Search" />
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary" @onclick="OnSearch">Search</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="list-group">

                            @foreach (var i in CustomersList)
                            {
                                <a @onclick="@(()=>OnSelectedCustomer(i))" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">@i.FullName</h5>
                                        <small>@i.Address</small>
                                    </div>
                                    <p class="mb-1">Total: @i.TotalBalance</p>
                                    <small>Total Amount Paid: @i.TotalAmountPaid</small>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>