@using Microsoft.AspNetCore.Components
@using Syncfusion.Blazor.Popups
@using Blazored.FluentValidation
@using MicroFinancing.Components.ToastsComponent
@using MicroFinancing.DataTransferModel
@using MicroFinancing.Interfaces.Services
@using Syncfusion.Blazor.DropDowns
<SfDialog Width="900px" ShowCloseIcon="true" @bind-Visible="visibility" CssClass="modal-center-top">
    <DialogPositionData X="center" />
    <DialogTemplates>
        <Header> Add/Edit User</Header>
        <Content>
            <EditForm Model="user">
                <FluentValidationValidator DisableAssemblyScanning="true" @ref="fluentValidator" />
                <div class="row mt-2">
                    <div class="col-12">
                        <Syncfusion.Blazor.Inputs.SfTextBox @bind-Value="@user.FirstName" Placeholder="First Name" CssClass="e-outline" FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Auto" />
                        <ValidationMessage For="@(()=>user.FirstName)" TValue="string" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <Syncfusion.Blazor.Inputs.SfTextBox @bind-Value="@user.LastName" Placeholder="Last Name" CssClass="e-outline" FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Auto" />
                        <ValidationMessage For="@(()=>user.LastName)" TValue="string" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <Syncfusion.Blazor.Inputs.SfTextBox @bind-Value="@user.Email" Enabled="@string.IsNullOrEmpty(user.UserId)" Placeholder="Email" CssClass="e-outline" FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Auto" />
                        <ValidationMessage For="@(()=>user.Email)" TValue="string" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <Syncfusion.Blazor.Inputs.SfTextBox @bind-Value="@user.UserName" Enabled="@string.IsNullOrEmpty(user.UserId)" Placeholder="UserName" CssClass="e-outline" FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Auto" />
                        <ValidationMessage For="@(()=>user.UserName)" TValue="string" />
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">

                        <SfMultiSelect TValue="string[]" @bind-Value="@user.UserRole" TItem="PermissionGridDTM" CssClass="e-outline" Mode="@VisualMode.Default" Placeholder="User Roles">
                            <Syncfusion.Blazor.Data.SfDataManager AdaptorInstance="typeof(PermissionAdaptor)" Adaptor="Adaptors.CustomAdaptor" />
                            <MultiSelectFieldSettings Text="Name" Value="Name"></MultiSelectFieldSettings>
                        </SfMultiSelect>
                        <ValidationMessage For="@(()=>user.UserRole)" TValue="string[]" />
                    </div>
                </div>
                @if (string.IsNullOrEmpty(user.UserId))
                {
                    <div class="row mt-2">
                        <div class="col-12">
                            <Syncfusion.Blazor.Inputs.SfTextBox Type="Syncfusion.Blazor.Inputs.InputType.Password" @bind-Value="@user.Password"
                                                                Placeholder="Password" CssClass="e-outline" FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Auto" />
                            <ValidationMessage For="@(()=>user.Password)" TValue="string" />
                        </div>
                    </div>
                }

            </EditForm>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton IsPrimary="true" Content="Submit" OnClick="@OnBtnSubmitClick" />
        <DialogButton IsPrimary="false" Content="Cancel" OnClick="@OnBtnCancelClick" />
    </DialogButtons>
</SfDialog>
